/* Contact Left  */

.contact-bg {
  height: 81vh;
  background-color: #fff;
}

#contact-lt {
  padding: 20px;
}

#container-wrap {
  padding: 20px;
  height: 100%;
}

.contact-input-name,
.contact-input-phone,
.contact-input-mail,
.contact-input-msg {
  width: 100%;
  border-radius: 5px;
  height: 60px;
  border: transparent;
  background-color: #f8f8f8;
  padding: 0 20px;
}

.contact-input-msg {
  width: 100%;
  height: 200px;
  padding: 12px;
  resize: none;
  vertical-align: top;
  line-height: normal;
}

.contact-form textarea {
  outline: none;
}

.contact-form input {
  outline: none;
}

.contact-button {
  height: 60px;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 45px;
  background-color: #699c47;
  color: white;
  border: none;
}

.contact-button:hover {
  background-color: transparent;
  color: #699c47;
  border: #699c47 1px solid;
}

/* Contact Right  */

.contact-rt {
  border: 1px solid rgb(230, 230, 230);
  height: 46vh;
  padding: 10px 30px;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding-top: 2rem;
}

.icon-box {
  scale: 2;
  color: #699c47;
  margin-top: 1.5rem;
}

/* I Frame Section  */

.i-frame-section {
  padding: 20px;
  height: 38rem;
}
