#subbar{
    background-color: #699c47;
    color: white;
}

#option select{
    background-color: #699c47;
    color: white;
    border: none;
    font-size: 14px;
}

#sub-link{
    color: white;
    text-decoration: none;
}

.subbar-container{
    max-width: 1650px;
    margin: auto;
}