
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*::selection{
    background-color:#699c47;
    color: white;
}

*{
    font-family: 'jost',sans-serif;
}

*a{
    text-decoration: none;
}
